In [5]:
# Decision Tree is used for both classification and Regression
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier

In [3]:
df = pd.read_csv('test.csv')
df.head()

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
0,2019,Level 1,99999,All industries,Dollars (millions),H01,Total income,Financial performance,728239.0,ANZSIC06 divisions A-S (excluding classes K633...
1,2019,Level 1,99999,All industries,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,643809.0,ANZSIC06 divisions A-S (excluding classes K633...
2,2019,Level 1,99999,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,62924.0,ANZSIC06 divisions A-S (excluding classes K633...
3,2019,Level 1,99999,All industries,Dollars (millions),H07,Non-operating income,Financial performance,21505.0,ANZSIC06 divisions A-S (excluding classes K633...
4,2019,Level 1,99999,All industries,Dollars (millions),H08,Total expenditure,Financial performance,634710.0,ANZSIC06 divisions A-S (excluding classes K633...

In [7]:
y = df[['Variable_code']]
x = df[['Value']]

x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.8)

In [8]:
dtc = DecisionTreeClassifier()

dtc.fit(x_train,y_train)

DecisionTreeClassifier()

In [9]:
y_pred=dtc.predict(x_test)

In [10]:
from sklearn.metrics import confusion_matrix

confusion_matrix(y_test,y_pred)

array([[104,   2,  29, ...,   0,   0,   0],
       [ 13,  17,   2, ...,   0,   0,   8],
       [ 16,   4,  27, ...,   4,   0,   1],
       ...,
       [  0,   1,   0, ..., 157, 246, 122],
       [  0,   0,   0, ...,  46, 612,   7],
       [  0,   3,   0, ...,  36,   5, 409]], dtype=int64)

# Decision Tree Regression

In [11]:
df.head()

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
0,2019,Level 1,99999,All industries,Dollars (millions),H01,Total income,Financial performance,728239.0,ANZSIC06 divisions A-S (excluding classes K633...
1,2019,Level 1,99999,All industries,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,643809.0,ANZSIC06 divisions A-S (excluding classes K633...
2,2019,Level 1,99999,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,62924.0,ANZSIC06 divisions A-S (excluding classes K633...
3,2019,Level 1,99999,All industries,Dollars (millions),H07,Non-operating income,Financial performance,21505.0,ANZSIC06 divisions A-S (excluding classes K633...
4,2019,Level 1,99999,All industries,Dollars (millions),H08,Total expenditure,Financial performance,634710.0,ANZSIC06 divisions A-S (excluding classes K633...

In [15]:
x = df[['Value']]
y = df[['Year']]

x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3)

In [16]:
from sklearn.tree import DecisionTreeRegressor


dtr = DecisionTreeRegressor()

dtr.fit(x_train,y_train)

DecisionTreeRegressor()

In [17]:
y_pred =dtr.predict(x_test)

y_test.head()

       Year
4667   2018
10651  2017
9856   2017
19603  2015
9368   2017

In [19]:
y_pred[0:5]

array([2018.        , 2013.        , 2016.        , 2015.24242424,
       2016.03658537])

In [18]:
from sklearn.metrics import mean_squared_error

mean_squared_error(y_test,y_pred)

4.743318382426851