Attribute                     	Domain
   -- -----------------------------------------
   1. Sample code number    		id number
   2. Clump Thickness               	1 - 10
   3. Uniformity of Cell Size       	1 - 10
   4. Uniformity of Cell Shape      	1 - 10
   5. Marginal Adhesion             	1 - 10
   6. Single Epithelial Cell Size   	1 - 10
   7. Bare Nuclei                   		1 - 10
   8. Bland Chromatin               	1 - 10
   9. Normal Nucleoli               		1 - 10
  10. Mitoses                       		1 - 10
  11. Class:                        (2 for benign, 4 for malignant)

In [82]:
import pandas as pd
import numpy as np

from sklearn import preprocessing
from sklearn.model_selection import train_test_split

#import svm
from sklearn import svm

In [83]:
df = pd.read_csv("breast-cancer-wisconsin.csv")

df.replace('?',-99999,inplace=True)

#remove id column as it is just patient record id.....so drop
df.drop(['id'], axis=1, inplace=True)
df.head()

,clump_thickness,unif_cell_size,unif_cell_shape,marg_adhesion,single_epith_cell_size,bare_nuclei,bland_chrom,norm_nucleoli,mitoses,class
0,5,1,1,1,2,1,3,1,1,2
1,5,4,4,5,7,10,3,2,1,2
2,3,1,1,1,2,2,3,1,1,2
3,6,8,8,1,3,4,3,7,1,2
4,4,1,1,3,2,1,3,1,1,2

In [84]:
#we want to predict class based on other columns (which are input)

X =np.array(df.drop(['class'], axis=1))
y = np.array(df['class'])

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2)

#use svm , SVC (classifier) with default parameters
#Gaussian Radial Basis Function (RBF) --> default
#kernel --> linear
clf = svm.SVC(kernel='linear')
clf.fit(X_train,y_train)

accuracy = clf.score(X_test,y_test)
print(accuracy)

0.9642857142857143

In [85]:
#now predict for some new  data (i.e different data)

example_measures = np.array([4,2,1,1,1,2,3,2,1])
print(example_measures.shape)
#reshape to 1 row and 9 columns
example_measures = example_measures.reshape(1,9) #or example_measures.reshape(1,-1)
print(example_measures.shape)

prediction = clf.predict(example_measures)
print(prediction)

(9,)
(1, 9)
[2]

In [86]:
#do more predictions, now 3 inputs (i.e 3 rows of 9 cols)
example_measures = np.array([[4,2,1,1,1,2,3,2,1],[4,2,1,2,2,2,3,2,1],[5,5,1,5,5,6,4,5,7]])
print(example_measures.shape)
length = len(example_measures)  #or   example_measures.shape[0]
print(length)
example_measures = example_measures.reshape(length,-1) #or example_measures.reshape(1,-1)
prediction = clf.predict(example_measures)
print(prediction)

(3, 9)
3
[2 2 4]