In [44]:
import pandas as pd

In [29]:
test= pd.read_csv('test1.csv')
test.head()

,Emp ID,Name Prefix,First Name,Middle Initial,Last Name,Gender,E Mail,Father's Name,Mother's Name,Mother's Maiden Name,...,SSN,Phone No.,Place Name,County,City,State,Zip,Region,User Name,Password
0,850297,Ms.,Shawna,W,Buck,Female,shawna.buck@gmail.com,Rosario Buck,Keisha Buck,Hendricks,...,222-11-7603,702-771-7149,Las Vegas,Clark,Las Vegas,NV,89128,West,swbuck,ja8?k3BTF^]o@<&
1,304721,Mr.,Nathaniel,Z,Burke,Male,nathaniel.burke@walmart.com,Derrick Burke,Phoebe Burke,Pugh,...,550-99-9897,231-765-6923,Irons,Lake,Irons,MI,49644,Midwest,nzburke,tPA@4Wh9Ja$+Ln
2,412317,Drs.,Elisabeth,W,Foster,Female,elisabeth.foster@gmail.com,Irwin Foster,Janie Foster,Delaney,...,215-91-0004,270-749-4774,Lexington,Fayette,Lexington,KY,40501,South,ewfoster,5D.B4IGNkWJfG<~
3,621375,Mrs.,Briana,C,Lancaster,Female,briana.lancaster@yahoo.com,Jeffrey Lancaster,Shelby Lancaster,Weiss,...,534-71-1053,219-623-8216,Munster,Lake,Munster,IN,46321,Midwest,bclancaster,I%?JDM;pW
4,787549,Hon.,Estella,L,Potter,Female,estella.potter@gmail.com,Booker Potter,Katelyn Potter,Pate,...,644-29-6396,907-677-8486,Fairbanks,Fairbanks North Star,Fairbanks,AK,99709,West,elpotter,j4jkEXfC&Rh

In [30]:
y = test[['Age in Company (Years)']] # depended
x = test[['Salary']] # test

In [31]:
from sklearn.linear_model import LinearRegression

In [32]:
from sklearn.model_selection import train_test_split

In [33]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.3)

In [34]:
lr = LinearRegression()

In [35]:
lr.fit(x_train,y_train)

LinearRegression()

In [36]:
y_pred = lr.predict(x_test)

In [43]:
y_test[0:5],y_pred[0:5]

(     Age in Company (Years)
 188                   12.88
 321                    5.16
 411                   18.35
 284                    2.49
 947                    0.56,
 array([[ 9.99255916],
        [10.07342662],
        [ 9.87790008],
        [ 9.89948068],
        [ 9.80021883]]))

In [39]:
from sklearn.metrics import mean_squared_error

In [40]:
mean_squared_error(y_test,y_pred)

74.28209235448571