In [2]:
# Decision Tree is used for both classification and Regression

In [4]:
import pandas as pd

In [67]:
test = pd.read_csv('test.csv')

In [68]:
test.head()

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
0,2019,Level 1,99999,All industries,Dollars (millions),H01,Total income,Financial performance,728239.0,ANZSIC06 divisions A-S (excluding classes K633...
1,2019,Level 1,99999,All industries,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,643809.0,ANZSIC06 divisions A-S (excluding classes K633...
2,2019,Level 1,99999,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,62924.0,ANZSIC06 divisions A-S (excluding classes K633...
3,2019,Level 1,99999,All industries,Dollars (millions),H07,Non-operating income,Financial performance,21505.0,ANZSIC06 divisions A-S (excluding classes K633...
4,2019,Level 1,99999,All industries,Dollars (millions),H08,Total expenditure,Financial performance,634710.0,ANZSIC06 divisions A-S (excluding classes K633...

In [69]:
y = test[['Variable_code']]
x = test[['Value']]

In [70]:
from sklearn.model_selection import train_test_split

In [71]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.8)

In [72]:
from sklearn.tree import DecisionTreeClassifier

In [73]:
dtc = DecisionTreeClassifier()

In [74]:
dtc.fit(x_train,y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [75]:
y_pred=dtc.predict(x_test)

In [76]:
from sklearn.metrics import confusion_matrix

In [79]:
confusion_matrix(y_test,y_pred)

array([[102,  19,  28, ...,   0,   0,   0],
       [ 14,  13,   2, ...,   0,   0,   7],
       [ 22,   4,  28, ...,   4,   0,   1],
       ...,
       [  0,   0,   0, ..., 197, 243, 139],
       [  0,   0,   0, ...,  44, 532,   7],
       [  0,   0,   0, ...,  54,   6, 438]], dtype=int64)

In [81]:
# Decision Tree Regression

In [83]:
test.head()

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
0,2019,Level 1,99999,All industries,Dollars (millions),H01,Total income,Financial performance,728239.0,ANZSIC06 divisions A-S (excluding classes K633...
1,2019,Level 1,99999,All industries,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,643809.0,ANZSIC06 divisions A-S (excluding classes K633...
2,2019,Level 1,99999,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,62924.0,ANZSIC06 divisions A-S (excluding classes K633...
3,2019,Level 1,99999,All industries,Dollars (millions),H07,Non-operating income,Financial performance,21505.0,ANZSIC06 divisions A-S (excluding classes K633...
4,2019,Level 1,99999,All industries,Dollars (millions),H08,Total expenditure,Financial performance,634710.0,ANZSIC06 divisions A-S (excluding classes K633...

In [85]:
x = test[['Value']]
y = test[['Year']]

In [87]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3)

In [89]:
from sklearn.tree import DecisionTreeRegressor

In [91]:
dtr = DecisionTreeRegressor()

In [92]:
dtr.fit(x_train,y_train)

DecisionTreeRegressor(ccp_alpha=0.0, criterion='mse', max_depth=None,
                      max_features=None, max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, presort='deprecated',
                      random_state=None, splitter='best')

In [93]:
y_pred =dtr.predict(x_test)

In [94]:
y_test.head()

       Year
11922  2017
11822  2017
28051  2013
16305  2016
26483  2014

In [96]:
y_pred[0:5]

array([2014.        , 2016.32258065, 2015.84848485, 2013.        ,
       2016.31081081])

In [98]:
from sklearn.metrics import mean_squared_error

In [99]:
mean_squared_error(y_test,y_pred)

4.821542773223139