In [1]:
# Pandas stands for Panel Data and is the core library for data manipulation and data analysis
# It consists of single and multi-dimensional data-structure for data-manipulation

# single Dimensional = Series Object

In [3]:
import pandas as pd

In [5]:
s1 = pd.Series ([1,2,3,4,5])
s1

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [8]:
s2 = pd.Series([1,2,3,4,5],index=['a','b','c','d','e'])
s2

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [10]:
# Series with Dictionary

In [14]:
s3 = pd.Series({'a':10,'b':20,'c':30})
s3

a    10
b    20
c    30
dtype: int64

In [16]:
s4 = pd.Series({'a':10,'b':20,'c':30},index=['a','b','c','d','e'])
s4

a    10.0
b    20.0
c    30.0
d     NaN
e     NaN
dtype: float64

In [17]:
# Extract Elements

In [20]:
s5 = pd.Series([1,2,3,4,5,6,7,9])
s5[3]

4

In [22]:
s5[:3]

0    1
1    2
2    3
dtype: int64

In [26]:
s5[-3:]

5    6
6    7
7    9
dtype: int64

In [27]:
# Adding Scalar value

In [28]:
s5+1 # *,-,/

0     2
1     3
2     4
3     5
4     6
5     7
6     8
7    10
dtype: int64

In [31]:
s5*s5 # +,-,/

0     1
1     4
2     9
3    16
4    25
5    36
6    49
7    81
dtype: int64

In [33]:
# multi-Dumensional = Data-frame /data-structure (row and column)

In [37]:
d1 = pd.DataFrame({'Name':['rabin','sabin','vabin'],'Marks':[12,34,56]})
d1

    Name  Marks
0  rabin     12
1  sabin     34
2  vabin     56

In [39]:
# Build in Function  head, shape, tail, describe

In [47]:
test = pd.read_csv('test.csv')
test.shape

(32445, 10)

In [41]:
test

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
0,2019,Level 1,99999,All industries,Dollars (millions),H01,Total income,Financial performance,"728,239",ANZSIC06 divisions A-S (excluding classes K633...
1,2019,Level 1,99999,All industries,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,"643,809",ANZSIC06 divisions A-S (excluding classes K633...
2,2019,Level 1,99999,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,"62,924",ANZSIC06 divisions A-S (excluding classes K633...
3,2019,Level 1,99999,All industries,Dollars (millions),H07,Non-operating income,Financial performance,"21,505",ANZSIC06 divisions A-S (excluding classes K633...
4,2019,Level 1,99999,All industries,Dollars (millions),H08,Total expenditure,Financial performance,"634,710",ANZSIC06 divisions A-S (excluding classes K633...
...,...,...,...,...,...,...,...,...,...,...
32440,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H37,Quick ratio,Financial ratios,52,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
32441,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H38,Margin on sales of goods for resale,Financial ratios,40,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
32442,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H39,Return on equity,Financial ratios,12,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
32443,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H40,Return on total assets,Financial ratios,5,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
32444,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H41,Liabilities structure,Financial ratios,46,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."

In [43]:
test.head() # first 5 records

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
0,2019,Level 1,99999,All industries,Dollars (millions),H01,Total income,Financial performance,"728,239",ANZSIC06 divisions A-S (excluding classes K633...
1,2019,Level 1,99999,All industries,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,"643,809",ANZSIC06 divisions A-S (excluding classes K633...
2,2019,Level 1,99999,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,"62,924",ANZSIC06 divisions A-S (excluding classes K633...
3,2019,Level 1,99999,All industries,Dollars (millions),H07,Non-operating income,Financial performance,"21,505",ANZSIC06 divisions A-S (excluding classes K633...
4,2019,Level 1,99999,All industries,Dollars (millions),H08,Total expenditure,Financial performance,"634,710",ANZSIC06 divisions A-S (excluding classes K633...

In [44]:
test.tail() # last 5 recoreds

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
32440,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H37,Quick ratio,Financial ratios,52,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
32441,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H38,Margin on sales of goods for resale,Financial ratios,40,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
32442,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H39,Return on equity,Financial ratios,12,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
32443,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H40,Return on total assets,Financial ratios,5,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
32444,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H41,Liabilities structure,Financial ratios,46,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."

In [54]:
test.describe()

               Year
count  32445.000000
mean    2016.000000
std        2.000031
min     2013.000000
25%     2014.000000
50%     2016.000000
75%     2018.000000
max     2019.000000

In [56]:
# extract

In [61]:
test.iloc[0:2,0:2] # row:column

   Year Industry_aggregation_NZSIOC
0  2019                     Level 1
1  2019                     Level 1

In [60]:
test.loc[0:3,('Year','Units')]

   Year               Units
0  2019  Dollars (millions)
1  2019  Dollars (millions)
2  2019  Dollars (millions)
3  2019  Dollars (millions)

In [63]:
# remove column

In [78]:
test.drop('Units',axis=1) # axis = 0 => row, # axis = 1 => column

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
0,2019,Level 1,99999,All industries,H01,Total income,Financial performance,"728,239",ANZSIC06 divisions A-S (excluding classes K633...
1,2019,Level 1,99999,All industries,H04,"Sales, government funding, grants and subsidies",Financial performance,"643,809",ANZSIC06 divisions A-S (excluding classes K633...
2,2019,Level 1,99999,All industries,H05,"Interest, dividends and donations",Financial performance,"62,924",ANZSIC06 divisions A-S (excluding classes K633...
3,2019,Level 1,99999,All industries,H07,Non-operating income,Financial performance,"21,505",ANZSIC06 divisions A-S (excluding classes K633...
4,2019,Level 1,99999,All industries,H08,Total expenditure,Financial performance,"634,710",ANZSIC06 divisions A-S (excluding classes K633...
...,...,...,...,...,...,...,...,...,...
32440,2013,Level 3,ZZ11,Food product manufacturing,H37,Quick ratio,Financial ratios,52,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
32441,2013,Level 3,ZZ11,Food product manufacturing,H38,Margin on sales of goods for resale,Financial ratios,40,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
32442,2013,Level 3,ZZ11,Food product manufacturing,H39,Return on equity,Financial ratios,12,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
32443,2013,Level 3,ZZ11,Food product manufacturing,H40,Return on total assets,Financial ratios,5,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
32444,2013,Level 3,ZZ11,Food product manufacturing,H41,Liabilities structure,Financial ratios,46,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."

In [79]:
test.shape

(32445, 10)

In [71]:
# remove rows

In [74]:
test1 = test.drop([1,2,3,5,6],axis=0) # axis = 0 => row, # axis = 1 => column

In [76]:
test1.shape

(32440, 10)

In [80]:
# mean,min, median, max

In [85]:
test.mean()

Year    2016.0
dtype: float64

In [82]:
test.min()

Year                                                2013
Industry_aggregation_NZSIOC                      Level 1
Industry_code_NZSIOC                               99999
Industry_name_NZSIOC                       Accommodation
Units                                            Dollars
Variable_code                                        H01
Variable_name                  Additions to fixed assets
Variable_category                  Financial performance
Value                                                 -1
Industry_code_ANZSIC06               ANZSIC06 Group F380
dtype: object

In [83]:
test.max()

Year                                                           2019
Industry_aggregation_NZSIOC                                 Level 4
Industry_code_NZSIOC                                           ZZ11
Industry_name_NZSIOC                     Wood Product Manufacturing
Units                                                    Percentage
Variable_code                                                   H41
Variable_name                       Total income per employee count
Variable_category                                  Financial ratios
Value                                                             S
Industry_code_ANZSIC06         ANZSIC06 groups S951, S952, and S953
dtype: object

In [84]:
test.median()

Year    2016.0
dtype: float64

In [87]:
# functions

In [89]:
def half(s):
    return s*0.5

In [94]:
test[['Year']].apply(half)

         Year
0      1009.5
1      1009.5
2      1009.5
3      1009.5
4      1009.5
...       ...
32440  1006.5
32441  1006.5
32442  1006.5
32443  1006.5
32444  1006.5

[32445 rows x 1 columns]

In [96]:
# value_count

In [98]:
test['Value'].value_counts()

C          1593
0           654
1           347
4           253
5           246
           ...
3160          1
4,984         1
7,759         1
3478          1
111,100       1
Name: Value, Length: 9282, dtype: int64

In [100]:
# sort_values

In [101]:
test.sort_values(by='Value')

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
28698,2013,Level 4,CC411,Printing,Percentage,H40,Return on total assets,Financial ratios,-1,ANZSIC06 groups C161 and C162
24704,2014,Level 4,CC821,Electronic and Electrical Equipment Manufacturing,Percentage,H39,Return on equity,Financial ratios,-1,"ANZSIC06 groups C241, C242, C243, and C244"
14145,2016,Level 4,AA131,Dairy Cattle Farming,Percentage,H40,Return on total assets,Financial ratios,-1,ANZSIC06 group A016
28662,2013,Level 3,CC41,Printing,Percentage,H40,Return on total assets,Financial ratios,-1,ANZSIC06 groups C161 and C162
14115,2016,Level 3,AA13,Dairy Cattle Farming,Percentage,H40,Return on total assets,Financial ratios,-1,ANZSIC06 group A016
...,...,...,...,...,...,...,...,...,...,...
22077,2015,Level 4,LL122,Non-Residential Property Operation,Dollars (millions),H27,Additions to fixed assets,Financial position,S,ANZSIC06 class L671200
21647,2015,Level 1,KK,Financial and Insurance Services,Dollars (millions),H28,Disposals of fixed assets,Financial position,S,ANZSIC06 division K
21645,2015,Level 1,KK,Financial and Insurance Services,Dollars (millions),H26,Fixed tangible assets,Financial position,S,ANZSIC06 division K
3538,2019,Level 4,LL122,Non-Residential Property Operation,Dollars (millions),H28,Disposals of fixed assets,Financial position,S,ANZSIC06 class L671200
17442,2016,Level 4,LL122,Non-Residential Property Operation,Dollars (millions),H27,Additions to fixed assets,Financial position,S,ANZSIC06 class L671200