# Pandas lab Exercise

In [2]:
import pandas as pd

In [5]:
automobile = pd.read_csv('files/Automobile_data.csv')

In [7]:
# check the head of hte DataFrame.
automobile.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.4,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.4,8.0,115,5500,18,22,17450

In [9]:
# How many rows and columns are there?
automobile.shape

(205, 26)

In [40]:
# What is the average Price of all cars in the dataset?

# automobile.apply("mean")
price = pd.to_numeric(automobile['price'],errors='coerce')
horsepower = pd.to_numeric(automobile['horsepower'],errors='coerce')
automobile['price'] = price
automobile['horsepower']=horsepower
price.mean()

13207.129353233831

In [43]:
# what is the cheapest make and costliest make of car in the lot?
# automobile.columns
automobile.select_dtypes(include=['int64','float']).apply(['min','max'])['price']

min     5118.0
max    45400.0
Name: price, dtype: float64

In [45]:
# How many cars have horsepower greater than 100?
# print(automobile.dtypes)
df1 = automobile.loc[automobile['horsepower']>100]
df1.shape

(92, 26)

In [49]:
# how many hatchback cars are in the dataset?
# print(automobile.dtypes)
df1 = automobile.loc[automobile['body-style']=='hatchback']
df1.shape

(70, 26)

In [67]:
# What are 3 moost commonly found cars in the dataset?
# automobile.columns
automobile["body-style"].value_counts().head(n=3)

sedan        96
hatchback    70
wagon        25
Name: body-style, dtype: int64

In [69]:
# Someone purchased a car for 7099, what is the make of the car?
automobile.loc[automobile['price']==7099]['make']

90    nissan
Name: make, dtype: object

In [71]:
# which cars are priced greater than 40000?
automobile.loc[automobile['price']>40000]

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
16,0,?,bmw,gas,std,two,sedan,rwd,front,103.5,...,209,mpfi,3.62,3.39,8.0,182.0,5400,16,22,41315.0
73,0,?,mercedes-benz,gas,std,four,sedan,rwd,front,120.9,...,308,mpfi,3.8,3.35,8.0,184.0,4500,14,16,40960.0
74,1,?,mercedes-benz,gas,std,two,hardtop,rwd,front,112.0,...,304,mpfi,3.8,3.35,8.0,184.0,4500,14,16,45400.0

In [83]:
# Which are the cars that are both a sedan and priced less that 7000?
automobile.loc[(automobile['price']<7000) & automobile['body-style'].isin(['sedan'])]

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
20,0,81,chevrolet,gas,std,four,sedan,fwd,front,94.5,...,90,2bbl,3.03,3.11,9.6,70.0,5400,38,43,6575.0
25,1,148,dodge,gas,std,four,sedan,fwd,front,93.7,...,90,2bbl,2.97,3.23,9.4,68.0,5500,31,38,6692.0
43,0,?,isuzu,gas,std,four,sedan,rwd,front,94.3,...,111,2bbl,3.31,3.23,8.5,78.0,4800,24,29,6785.0
53,1,113,mazda,gas,std,four,sedan,fwd,front,93.1,...,91,2bbl,3.03,3.15,9.0,68.0,5000,31,38,6695.0
85,1,125,mitsubishi,gas,std,four,sedan,fwd,front,96.3,...,122,2bbl,3.35,3.46,8.5,88.0,5000,25,32,6989.0
89,1,128,nissan,gas,std,two,sedan,fwd,front,94.5,...,97,2bbl,3.15,3.29,9.4,69.0,5200,31,37,5499.0
91,1,128,nissan,gas,std,two,sedan,fwd,front,94.5,...,97,2bbl,3.15,3.29,9.4,69.0,5200,31,37,6649.0
92,1,122,nissan,gas,std,four,sedan,fwd,front,94.5,...,97,2bbl,3.15,3.29,9.4,69.0,5200,31,37,6849.0
121,1,154,plymouth,gas,std,four,sedan,fwd,front,93.7,...,90,2bbl,2.97,3.23,9.4,68.0,5500,31,38,6692.0
156,0,91,toyota,gas,std,four,sedan,fwd,front,95.7,...,98,2bbl,3.19,3.03,9.0,70.0,4800,30,37,6938.0